.button1 {
    background-color: salmon;
    color: black;
    padding: 7px 15px;
    text-align: right;
    font-family: 'iskoola pota';
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    float:right;
    display: block;
    margin: right 13mm;
    clear:left;
  }
  .border{
    text-align: left;
    border: outset black;
    margin-top: 10px;
    color:black;
    margin-right: 20.5%;
    margin-left: 12.5%;
    padding: 10px;
}
h1 {
    text-align: center;
    color: rgb(236, 129, 236);
    font-size: 10mm;
}
body{
  /* margin-top: 30px; */
  background: white url("grabg.png") no-repeat fixed center;
}
