.button1 {
    background-color: rgb(17, 171, 231);
    color: black;
    padding: 7px 15px;
    text-align: right;
    font-family: 'iskoola pota';
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    float:right;
    display: block;
    margin: right 13mm;
    clear:left;
  }
  .border{
    text-align: left;
    border: outset black;
    margin-top: 10px;
    color:black;
    margin-right: 10.5%;
    margin-left: 10.5%;
    padding: 10px;
}
h1 {
    color: rebeccapurple;
    font-size: 10mm;
    text-align: center;
} 
body{
  /* margin-top: 30px; */
  background: white url("sport\ bg.JPG") no-repeat fixed center ;
}
