.topic {
    text-align: center;
    color: blue;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30;
  }
.image {
     width: auto;
     height: auto;
 }
 .dis {
     font-size: x-large;
 }
